@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body {
        font-family: Mochiy Pop P One, sans-serif;
        font-weight:300;
        color: #300000;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
}

/* header and logo*/

.logo {
    height: 350px;
    width: 100%;
    background-image: url('../images/Design1.jpg');
    background-repeat: no-repeat;
    background-position:center top;
}


.logo h1 {
    color: #000000;
    text-align: center;
    font-size: 50px;
    line-height: 10px;
    position: relative;
    bottom: 10px;
}
    
/* nav-bar links */

#nav-bar {
    position: absolute;
    top: 0;
    letter-spacing: 1px;
    color: #000000;
}

#nav-bar li {
    float: left;
    list-style-type: none;
}    

 #nav-bar a {
    text-decoration: none;
    margin: 4px;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 1px;
    color:inherit;
 }   

.active {
    border-bottom: 1px solid #000000;
}

 #nav-bar a:hover {
    border-bottom: 1px solid #3a3a3a;
 }

 /* who are we section */

 .who-are-we{
     letter-spacing: 2px;
 }
 
/* console games */

 #console-games {
    float: right;
    width: 50%;
}

#console-games p {
        position: absolute;
        top: 140%;
        left: 25%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
}

#controller-image {
     background-image: url('../images/ps5\ controller.jpg');
     height: 300px;
     margin: 0 auto;
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     background-position-x: center;
}

#controller-text {
    position: absolute;
    top: 125%;
    left: 68%;
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

#controller-text h2 {
    position: absolute;
    color: #000000;
}
 
/* d&d games */

 #d-d-games {
     float: left;
     width: 50%;
 }


 #dice-image {
     background-image: url('../images/dice\ image.jpeg');
     height: 300px;
     margin: 0 auto;
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     background-position-x: center;
}

#dice-text {
    position: absolute;
    top: 125%;
    right: 25%;
    width: 100%;
    margin: 0 auto;
}








